<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StringConnection" value="server=localhost;port=3306;database=dbbot;user=root;password=;" />
    <add key="qatable" value="table2" />
    <add key="d" value="555" />
    <add key="Lpu_sid" value="555" />
    <add key="LpuSection_sid" value="555" />
    <add key="Login" value="gfg" />
    <add key="Password" value="rtrty" />
    <add key="Domain" value="tytr" />
  </appSettings>
</configuration>